certifi==2020.6.20
click==7.1.2
Flask==1.1.2
Flask-SQLAlchemy @ file:///tmp/build/80754af9/flask-sqlalchemy_1596836624296/work
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
SQLAlchemy @ file:///C:/ci/sqlalchemy_1598374833867/work
Werkzeug==1.0.1
wincertstore==0.2
